body
{
	margin: 0;
	padding: 0;
	background-color: #000;
	font-size: 18px;
	font-family: 'Libre Baskerville', serif;
}

h1, h2, h3, h4, h5, h6, p
{
	line-height: 1.45;
	padding: 0;
	margin: 0;
}

.video-container
{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
.video-container iframe, video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.channel-info
{
	position: absolute;
	top: 2%;
	left: 1%;
	height: 15%;
	width: 98%;
}

.hover
{
    color: white;
    text-shadow:
    -1px 1px 0 #000,
    1px 1px 0 #000;
}