body
{
	margin: 0;
	padding: 0;
	background-color: #000;
}

.video-container
{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
.video-container iframe, video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}